
<!-- importar header -->
<%- include('../header') %>

<!-- body -->
<div class='container'>
<h2>Opções de Administrador</h2>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 blue lighten-2">
                    <a href="#teste_1" class="black-text"><b>
                        Coordenadores
                    </b></a></li>
                <li class="tab col s3 blue lighten-2">
                    <a href="#teste_2" class="black-text"><b>
                        Orientadores
                    </b></a></li>
                <li class="tab col s3 blue lighten-2">
                    <a href="#teste_3" class="black-text"><b>
                        Alunos
                    </b></a></li>
                <li class="tab col s3 blue lighten-2 disabled">
                    <a href="#teste_4" class="black-text"><b>
                        Ponto de Controle
                    </b></a></li>
            </ul>
        </div>
        <!--conteudo das abas-->
        <div id="teste_1" class="col s12 red">

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person_add</i>Create</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">list</i>Read</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">edit</i>Update</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">deletet</i>Delete</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>






        </div>
        <div id="teste_2" class="col s12 blue">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.
        </div>
        <div id="teste_3" class="col s12 yellow">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.
        </div>
        <div id="teste_4" class="col s12 green">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.
        </div>
    </div>
</div>

<!-- Script de funcionamento destas tabs esta em footer.js -->

<!-- importar footer -->
<%- include('../footer') %>