</div> <!--fim da div #page-container-->
<div id="footer black">
    <div style="padding-left:30px;">
        
    </div>
</div>
</div> <!--fim da div #page-wrap-->

<!-- JavaScript at end of body for optimized loading -->
<!-- Jquery para rodar o js do materialize.css -->
<script
src="https://code.jquery.com/jquery-3.4.0.min.js"
integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Outros scripts -->
<script>

$(document).ready(function(){
    $('.tabs').tabs();
});

$(document).ready(function() {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

$(document).ready(function(){
   $('.collapsible').collapsible();
});

$(document).ready(function() {
    $('input#input_text, textarea#descricao').characterCounter();
});

</script>


<!-- Fim da pag html -->
</body>
</html>